---
layout: default
---

<section class="cards">
  <div class="card">
    <h3>Best in class Treatment</h3>
    <img alt="best in class treatment" src="{{ '/assets/images/stock/stock1.jpg' | relative_url }}" />
    <p>
      All of our physical therapists are licensed by the Virginia Board of Physical Therapy and are Direct Access Certified, so you do not need a referral or prescription to be evaluated or treated through our clinic.
    </p>
  </div>

  <div class="card">
    <h3>Virginia Licensed</h3>
    <img alt="virginia licensed" src="{{ '/assets/images/stock/stock2.jpg' | relative_url }}" />
    <p>
      All of our physical therapists are licensed by the Virginia Board of Physical Therapy and are Direct Access Certified, so you do not need a referral or prescription to be evaluated or treated through our clinic.
    </p>
  </div>

  <div class="card">
    <h3>Something Else</h3>
    <img alt="something else" src="{{ '/assets/images/stock/stock3.jpg' | relative_url }}"">
    <p>
      All of our physical therapists are licensed by the Virginia Board of Physical Therapy and are Direct Access Certified, so you do not need a referral or prescription to be evaluated or treated through our clinic.
    </p>
  </div>
</section>